@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: #02030a;
  color: white;
  font-family: 'Inter', sans-serif;
}

::selection {
  background: #00f5ff;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#00f5ff, #8b5cf6);
  border-radius: 20px;
}

a {
  text-decoration: none;
}